<p>
    Sehr geehrte Damen und Herren,<br>
    <br>
    viel Spaß mit den Empfehlungen des Fundevogel-Teams für das Jahr %%THIS_YEAR%%!
</p>
<p>
    Die neuen Entdeckungen ergänzen unser Sortiment und sind unentbehrlich für die individuelle Beratung. Sie finden <font color="#f0694b">unsere Empfehlungslisten</font> auch regelmäßig auf unserer <b><a href="https://fundevogel.de">Webseite</a></b> nebst persönlichen Buchtipps.
</p>
