<p>
    Mit besten Grüßen aus dem Fundevogel<br>
    <br>
    Claus-Peter Jepsen und Team
</p>
<p>
    --<br>
    Lieber barfuß als ohne Buch!
</p>
<p>
    Kinder- und Jugendbuchhandlung Fundevogel<br>
    Inh.: Claus-Peter Jepsen<br>
    Marienstr. 13<br>
    79098 Freiburg
</p>
<p>
    Telefon: 0761/25218<br>
    Fax: 0761/30041<br>
    E-Mail: info@fundevogel.de<br>
    Internet: www.fundevogel.de
</p>
<p>
    VK.-Nr.: 31776<br>
    Volksbank Freiburg: Konto 724 070 8 / BLZ 680 900 00<br>
    Bankverbindung Ausland:<br>
    IBAN DE 266 809 0000000 7240708 / BIC GENO DE 61 FR 1<br>
    USt-ID: DE 142035994
</p>
